#header {
	color: #f00;
	font-weight: bold;
}

.box{
	border: 1px solid gray;
	width: 400px;
	height: 200px;
}

.PH-header{
	color: blue;
	background-color: yellow;
}

.h-name{
	color:red;
	background-color: yellow;
}

div{
background-color: yellow;
margin-left: 15px;
margin-top: 15px;
}

#rushi{
	margin-top: 40px;
	border:5px solid black; 
}