#header {
	color: #f00;
	font-weight: bold;
}

.box{
	border: 1px solid gray;
	width: 400px;
	height: 200px;
}

.PH-header{
	color: blue;
	background-color: yellow;
}

#d1{
padding:20px;
background-color:#f2f2f2;
position:absolute;
left:60%;
top:20%;

}
input[type="text"], select{
width:100%;
display:inline-block;
padding:10px;
border:1px solid #ccc;
border-radius:4px;
box-sizing:border-box;

}
input[type="checkbox"], select{

display:inline-block;
padding:10px;
border:1px solid #ccc;
border-radius:4px;
box-sizing:border-box;

}
input[type=submit]{
width:100%;
padding:10px;
margin:8px 0;
background-color:#4CAF50;
color:white;
}
input[type=submit]:hover{
background-color:green;

}
